$color-primary: #cfff49;
$color-black: #000000;
$color-black2: #1e1e1e;
$color-black3: #6b7379;
$color-white: #ffffff;
$color-white2: #aeb2bb;

.Footer {
	background-color: $color-black;
	padding: 2rem 7rem;
	color: $color-primary;
	@media only screen and (max-width: 56.25rem) {
		padding: 2rem;
	}

	&Top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10rem;
		@media only screen and (max-width: 56.25rem) {
			margin-bottom: 4rem;
		}
	}

	&Logo {
		&Text {
			color: $color-primary;
			font-family: "editor's note", sans-serif;
			font-size: 4rem;
			@media only screen and (max-width: 56.25rem) {
				font-size: 2rem;
			}
		}
	}
	&HeadingText {
		font-family: "oswald", serif;
		font-size: 2rem;
		margin-bottom: 1rem;
		@media only screen and (max-width: 56.25rem) {
			font-size: 1rem;
		}
	}

	&Center {
		display: flex;
		justify-content: space-between;
		gap: 25rem;
		margin-bottom: 10rem;
		@media only screen and (max-width: 56.25rem) {
			flex-direction: column;
			margin-bottom: 5rem;
			gap: 5rem;
		}
		&Box1 {
			width: 50%;
			display: flex;
			justify-content: space-between;
			@media only screen and (max-width: 56.25rem) {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2rem;
				width: 100%;
			}
		}
		&Box2 {
			width: 50%;
			display: flex;
			justify-content: space-between;
			@media only screen and (max-width: 56.25rem) {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
			}
		}

		&Heading {
			color: $color-white2;
			font-family: "oswald", serif;
			letter-spacing: 0.2rem;
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		&Links {
			color: $color-white;
			font-size: 1.3rem;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
				Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
				sans-serif;
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
			@media only screen and (max-width: 56.25rem) {
				width: 100%;
			}
		}
	}

	&Bottom {
		display: flex;
		justify-content: space-between;
		width: 70%;
		@media only screen and (max-width: 56.25rem) {
			flex-direction: column;
			width: 100%;
		}

		&Item1 {
			color: $color-white2;

			&Paragraph {
				font-size: 1.5rem;
				font-family: "oswald", serif;
				margin-bottom: 1rem;
			}

			&List {
				display: flex;
				font-size: 1.5rem;
				font-family: "oswald", serif;
				gap: 2rem;
				@media only screen and (max-width: 56.25rem) {
					width: 100%;
				}
			}
		}

		&Item2 {
			background-color: $color-white2;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 3rem;
			width: 45%;
			@media only screen and (max-width: 56.25rem) {
				visibility: hidden;
				height: 0;
				width: 0;
				margin: 0;
				padding: 0;
			}

			&List {
				display: flex;
				color: $color-black;
				align-items: center;
				gap: 1rem;
				font-family: "oswald", serif;
				font-size: 1.3rem;
				font-weight: bold;
				@media only screen and (max-width: 56.25rem) {
					display: none;
				}
			}
			&Link {
				background-color: $color-black;
				color: $color-white;
				padding: 1rem 3rem;
				border-radius: 3rem;
			}
		}
	}
}
