$color-white2: #aeb2bb;
.NavBar {
	padding: 1rem 1.5rem;
	position: absolute;
	width: 100%;
	z-index: 200;
	&List {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: "oswald", serif;

		&Item {
			font-size: 1.5rem;
			letter-spacing: 0.1rem;
		}
	}
}

.Menu {
	color: $color-white2;
	cursor: pointer;
}

.Name {
	font-family: "Editor's Note", sans-serif;
	cursor: pointer;
}

.Signin {
	cursor: pointer;
}
